<article>
    <center><h2 class="title">Anthony Fealy</h2> </center>
    <br>
  </article>
  <article>
    <center><h2 class="title">Frida Palencia</h2> </center>
    <br>
  </article>
  <article>
    <center><h2 class="title">This Application always you to sell/ buy products</h2> </center>
    <br>
  </article>