<center><h1>Add a product</h1></center>
<article>
    <form method="POST" action="/create">
        <div class="input-field">
            <label>Name: </label>
            <input type="text" name="name" size="85" placeholder="Dinning table">
        </div>
        <div class="input-field">
            <label>Price:</label>
            <input type="text" name="price" size="85" placeholder="$50">
        </div>

         <div class="input-field">
            <label>Condition:</label>
            <input type="text" name="condition" size="85" placeholder="Good">
        </div>
        <div class="input-field">
            <label>Description:</label>
            <input type="text" name="description" size="85" placeholder="Only used it a few times">
        </div>
        <div class="input-field">
            <label>Tags:</label>
            <input type="text" name="tags" size="85" placeholder="furniture">
        </div>
        
        <center> <button type="submit">Post Product</button> </center>
    </form>
</article>