{{#if user}}
  <article>
    <center><h2 class="title">{{user.username}}</h2> </center>
    <br>
    <div class="content">
        <center><strong>Contact info: {{user.contact}}</strong></center>
    </div>
  </article>
{{/if}}