<h1>Post review for {{product.name}}</h1>
<article>
    <form method="POST" action="/products/{{product.id}}/postReview">
        <div class="input-field">
            <label>Title:</label>
            <input type="text" name="title" size="85" placeholder="Love it">
        </div>
         <div class="input-field">
            <label>Rating:</label>
            <input type="number" name="rating" min="1" max="5" placeholder="5">
        </div>
        <div class="input-field">
            <label>Comment:</label>
            <textarea type="text" name="comment" size="85" rows="20" placeholder="I really enjoyed this product because..."></textarea>
        </div>
        <button type="submit">Post Review</button>
    </form>
</article>

